body{
  background-color:#E5E5E5 !important;
}
.logo-font {
  font-family: titillium web, sans-serif;
}

img.lazyload:not([src]) {
  visibility: hidden;
}

* {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

*:focus {
  outline: none;
}

@media screen and (max-width: 767px) {
  .col-md-9 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .navbar {
    padding: 0;
  }

  .nav {
    font-size: 15px;
  }
}

.ant-tabs-ink-bar {
  visibility: hidden;
}
.ant-tabs-nav .ant-tabs-tab-active {
    color: #000000 !important;
    font-weight: 1000;
    background:#FFFFFF;
    border-radius: 40px;
}
.ant-tabs-nav .ant-tabs-tab:hover{
  color:black !important;
}
.ant-tabs-bar{
  border:none !important;
}
.ant-tabs .ant-tabs-large-bar .ant-tabs-tab{
      padding: 16px 40px !important;
}
